:root {
	--accent-color: #55ADFF;
    --c1-color: #414141;
    --c2-color: #757575;
    --c3-color: #C4C4C4;
    --c4-color: #DBDBDB; 

}
html {
    scroll-behavior: smooth;
   }
body {
    background-color: #000000 !important;
    font-family: "Roboto"  !important;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  } 
.container {
    padding-top: 80px;
}
.pageDivider{
    margin-top: 10px;
    height: .2em;
    background-color: #131313;
    width: 100%;
}
.underline {
    margin-top: -5px;
    height: 5px;
    background-color: var(--c1-color);
    width: 0%;
    transition-duration: 2s;
    margin-left: 2px;
}
.underlineVIS {
    width: 100%!important;
}
.vertLine {
    margin-top: 11px;
    height: 0%;
    width: 10px;
    transition-duration: 2s;
    background-color: var(--c1-color);
    margin-right: 20px;
}
.vertLineVIS {
    height: 100%;
}
.descripColor {
    background-color: var(--c4-color);
}


h1 { 
    font: monospace !important;
    font-weight: bold !important;
    font-size: 84px !important;
    line-height: 84px !important;
    color: #fff;
	border-right: .1em solid #fff;
	width: 10.5ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}

h2{
    font-weight: bold !important;
    font-size: 45px !important;
    line-height: 35px;
    text-align: center;
    color: var(--c1-color);

}
h3{
    font-weight: bold !important;
    font-size: 36px !important;
    line-height: 21px;
    text-align: center;
    color: var(--c2-color);
    padding-top: 8px;
}
h4{
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 21px;
    color: var(--c3-color);
}

h5{
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 13px ;
    color: var(--c4-color); 
}







